@using Microsoft.AspNetCore.Identity
@using BlogBravo.Data
@using System.Web;

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

    <style>

    </style>

    <ul class="navbar-nav">
        @if (SignInManager.IsSignedIn(User))
        {
            var user = await UserManager.GetUserAsync(Context.User);
            string userName = user.FirstName + " " + user.LastName + "'s";


            if (@User.IsInRole("author"))
            {
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage" hidden>Hello @User.Identity.Name!</a>
                    <div class="dropdown">

                        <button class="btn dropdown-toggle text-white" type="button" id="blogger-menu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="text-white">@userName Blog Menu</span>
                        </button>
                        <div class="dropdown-menu" aria-labelledby="blogger-menu">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Blog" asp-action="Index">@userName Blog List</a>
                            <a class="nav-link text-dark" asp-area="" asp-controller="Post" asp-action="Index">@userName Post List</a>
                        </div>
                    </div>
                </li>
                <li class="nav-item">
                    <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                        <button type="submit" class="nav-link btn btn-link text-dark"><span class="text-white">Logout <i class="fas fa-sign-out-alt"></i></span></button>
                    </form>
                </li>
            }
            else if (@User.IsInRole("sysadmin"))
            {
                <li class="nav-item">
                    <a class="nav-link text-white" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage" hidden>Hello @User.Identity.Name!</a>
                    <a class="nav-link text-white" asp-area="" asp-controller="Admin" asp-action="Index">@userName Admin Page</a>
                </li>
                <li class="nav-item">
                    <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                        <button type="submit" class="nav-link btn btn-link text-dark"><span class="text-white">Logout <i class="fas fa-sign-out-alt"></i></span></button>
                    </form>
                </li>
            }
        }
        else
        {
            <li class="nav-item">
                <a class="nav-link text-white" asp-area="Identity" asp-page="/Account/Register">Register <i class="fas fa-user-circle"></i></a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" asp-area="Identity" asp-page="/Account/Login">Login <i class="fas fa-sign-in-alt"></i></a>
            </li>
        }
    </ul>
