@model BlogBravo.Models.Post
@using BlogBravo.Data
@using Microsoft.AspNetCore.Identity
@inject ApplicationDbContext _context
@inject SignInManager<ApplicationUser> SignInManager

@{
    ViewData["Title"] = "Post View";

    Model.Views++;

    var post = _context.Posts.Find(Model.Id);
    var blog = _context.Blogs.Find(Model.BlogId);

    if (post != null)
    {
        post.Views = Model.Views;
        _context.Update(post);
        await _context.SaveChangesAsync();
    }

}


<div class="container alert-dark border border-dark rounded pt-2 pb-5">
    <h3 class="bg-dark text-white" style="width:fit-content;">@blog.Title</h3>
    <h1 class="font-italic">@Model.Title</h1>
    <span class="mr-3"><i class="mr-1 fas fa-plus-square">  </i>@Model.Created</span>
    <span class="mr-1"><i class="fas fa-eye"></i></span><span id="post-views"> @Model.Views</span>
    <hr />

    <div>
        <textarea maxlength="2500" class="form-control border-dark font-monospace" rows="10" id="post-body" disabled>@Model.Body</textarea>
    </div>
    @if (Model.Tag.Count > 0)
    {
        string tags = "";
        foreach (var tag in Model.Tag)
        {
            tags += @tag.Name + " ";
        }
        <p class="">@tags</p>
    }
    <hr />

    @if (ViewBag.Comments != null)
    {
        @foreach (var comment in ViewBag.Comments)
        {
            string commentTitle = comment.Author.FirstName + " " + comment.Author.LastName + " (" + comment.Author.Email + ") " + comment.Created;

            <div id="@comment.Id" class='alert-dark border border-dark rounded mb-2' disabled>
                <p style='font-size:0.7rem;'><span class="bg-dark text-white">@commentTitle</span>: @comment.Body</p>
            </div>
        }
    }
    @if (SignInManager.IsSignedIn(User) && !@User.IsInRole("locked"))
    {
        <div id="comment">
            <form id="comment-form" asp-controller="Post" asp-action="AddComment" asp-route-id="@Model.Id">
                <input name="post-id" value="@Model.Id" hidden />
                <input name="blog-id" value="@Model.BlogId" hidden />
                <input id="post-comment-user" name="post-comment-user" value="@User.Identity.Name" hidden />

                <textarea id="post-comment-body" name="post-comment-body" maxlength="300" class="form-control border-dark font-monospace" rows="3" onkeyup="(function () {document.querySelector('#post-comment-body-count').innerText = 'Count (max. 300): ' + document.querySelector('#post-comment-body').value.length; return false; })(); return false;"></textarea>
                <span class="alert-dark text-danger float-right" id="post-comment-body-count" style="font-size:0.75rem;">Count (max. 300): 0</span>
                <div class="form-group mt-4 mb-2">
                    <button type="submit" class="btn btn-sm btn-outline-dark">Add Comment</button>
                    @if (@User.IsInRole("author") && @User.Identity.Name == @ViewBag.blogAuthor)
                    {
                        @if (TempData["search"] == null)
                        {
                            <button class="btn btn-outline-dark float-right" asp-area="" asp-controller="Post" asp-action="Index">Cancel</button>
                        }
                        else
                        {
                            <a href="##" onClick="history.go(-1); return false;" class="btn btn-outline-dark float-right">Return to Search Result</a>
                        }
                    }
                    else
                    {
                        <a href="##" onClick="history.go(-1); return false;" class="btn btn-outline-dark float-right">Return to Search Result</a>
                    }
                </div>
            </form>
        </div>
    }
    else
    {
            <a href="##" onClick="history.go(-1); return false;" class="btn btn-outline-dark float-right mb-5">Return to Search Result</a>
    }
</div>