@model BlogBravo.Models.Post

@{
    ViewData["Title"] = "Edit";
}

<div class="row alert-dark border border-dark rounded">
    <div class="col-md-12">
        <h1 class="mb-3">Edit Post - <span class="text-muted fst-italic">Blog Name</span></h1>
        <form asp-area="" asp-controller="Post" asp-action="Edit" id="post-form" oninput="(function () {document.querySelector('#save-changes-btn').disabled = false; })();return false;">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label fw-bolder h4 mr-5"></label>
                <input asp-for="Title" class="form-control border-dark" maxlength="50" id="post-title" onkeyup="(function () {document.querySelector('#post-title-count').innerText = 'Count (max. 50): ' + document.querySelector('#post-title').value.length; return false; })(); return false;" />
                <span class="alert-dark text-danger float-right" id="post-title-count" style="font-size:0.75rem;">Count (max. 50): 0</span>
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Body" class="control-label fw-bold h4"></label>
                <textarea asp-for="Body" maxlength="2500" class="form-control border-dark font-monospace" rows="10" id="post-body" onkeyup="(function () {document.querySelector('#post-body-count').innerText = 'Count (max. 2500): ' + document.querySelector('#post-body').value.length; return false; })(); return false;"></textarea>
                <span class="alert-dark text-danger float-right" id="post-body-count" style="font-size:0.75rem;">Count (max. 2500): 0</span>
                <span asp-validation-for="Body" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Tag" class="control-label fw-bold h4"></label>
                <div class="input-group">
                    <input maxlength="20" class="form-control border-dark rounded mr-4" id="post-tag" onkeyup="(function () {document.querySelector('#post-tag-count').innerText = 'Count (max. 50): ' + document.querySelector('#post-tag').value.length; return false; })(); return false;" />
                    <div class="input-group-append">
                        <input type="button" value="Create Tag" class="btn btn-outline-dark rounded" onclick="CreateTag()" />
                    </div>
                </div>
                <span class="text-danger mb-2 float-right" id="post-tag-count" style="font-size:0.75rem; padding-right: 120px;">Count (max. 20): 0</span>

                <div class="form-check-inline mt-2 mb-2" id="tag-list" style="font-size:0.75rem;">
                    @if (Model.Tag.Count > 0)
                    {
                        int tagCount = Model.Tag.Count;
                        int i = 0;
                        Tag[] tags = Model.Tag.ToArray();


                        if (i < tagCount)
                        {
                            if (!String.IsNullOrEmpty(tags[i].Name))
                            {
                                <input id="first-tag-input" type="checkbox" class="form-check-input" />
                                <input id="first-tag" name="first-tag" value="@tags[i].Name" class="alert-dark col-md-2 px-0 mr-1" style="border:none;">
                            }
                        }
                        else
                        {
                            <input id="first-tag-input" type="checkbox" class="form-check-input" hidden />
                            <input id="first-tag" name="first-tag" value="none" class="alert-dark col-md-2 px-0 mr-1" style="border:none;" hidden>
                        }

                        i++;


                        if (i < tagCount)
                        {
                            if (!String.IsNullOrEmpty(tags[i].Name))
                            {
                                <input id="second-tag-input" type="checkbox" class="form-check-input" />
                                <input id="second-tag" name="second-tag" value="@tags[i].Name" class="alert-dark col-md-2 px-0 mr-1" style="border:none;">
                            }
                        }
                        else
                        {
                            <input id="second-tag-input" type="checkbox" class="form-check-input" hidden />
                            <input id="second-tag" name="second-tag" value="none" class="alert-dark col-md-2 px-0 mr-1" style="border:none;" hidden>
                        }

                        i++;


                        if (i < tagCount)
                        {
                            if (!String.IsNullOrEmpty(tags[i].Name))
                            {
                                <input id="third-tag-input" type="checkbox" class="form-check-input" />
                                <input id="third-tag" name="third-tag" value="@tags[i].Name" class="alert-dark col-md-2 px-0 mr-1" style="border:none;">
                            }
                        }
                        else
                        {
                            <input id="third-tag-input" type="checkbox" class="form-check-input" hidden />
                            <input id="third-tag" name="third-tag" value="none" class="alert-dark col-md-2 px-0 mr-1" style="border:none;" hidden>
                        }

                        i++;


                        if (i < tagCount)
                        {
                            if (!String.IsNullOrEmpty(tags[i].Name))
                            {
                                <input id="fourth-tag-input" type="checkbox" class="form-check-input" />
                                <input name="fourth-tag" id="fourth-tag" value="@tags[i].Name" class="alert-dark col-md-2 px-0 mr-1" style="border:none;">
                            }
                        }
                        else
                        {
                            <input id="fourth-tag-input" type="checkbox" class="form-check-input" hidden />
                            <input name="fourth-tag" id="fourth-tag" value="none" class="alert-dark col-md-2 px-0 mr-1" style="border:none;" hidden>
                        }

                        i++;


                        if (i < tagCount)
                        {
                            if (!String.IsNullOrEmpty(tags[i].Name))
                            {
                                <input id="fifth-tag-input" type="checkbox" class="form-check-input" />
                                <input name="fifth-tag" id="fifth-tag" value="@tags[i].Name" class="alert-dark col-md-2 px-0 mr-1" style="border:none;">
                            }
                        }
                        else
                        {
                            <input id="fifth-tag-input" type="checkbox" class="form-check-input" hidden />
                            <input name="fifth-tag" id="fifth-tag" value="none" class="alert-dark col-md-2 px-0 mr-1" style="border:none;" hidden>
                        }

                        <input type="button" value="Remove Tag" id="remove-tag-btn" class="btn btn-outline-dark btn-sm rounded" style="font-size:.75rem;" onclick="RemoveTag()" />
                    }
                    else
                    {
                        <input id="first-tag-input" type="checkbox" class="form-check-input" hidden />
                        <input id="first-tag" name="first-tag" value="none" class="alert-dark col-md-2 px-0 mr-1" style="border:none;" readonly hidden>

                        <input id="second-tag-input" type="checkbox" class="form-check-input" hidden />
                        <input id="second-tag" name="second-tag" value="none" class="alert-dark col-md-2 px-0 mr-1" style="border:none;" readonly hidden>

                        <input id="third-tag-input" type="checkbox" class="form-check-input" hidden />
                        <input id="third-tag" name="third-tag" value="none" class="alert-dark col-md-2 px-0 mr-1" style="border:none;" readonly hidden>

                        <input id="fourth-tag-input" type="checkbox" class="form-check-input" hidden />
                        <input name="fourth-tag" id="fourth-tag" value="none" class="alert-dark col-md-2 px-0 mr-1" style="border:none;" readonly hidden>

                        <input id="fifth-tag-input" type="checkbox" class="form-check-input" hidden />
                        <input name="fifth-tag" id="fifth-tag" value="none" class="alert-dark col-md-2 px-0 mr-1" style="border:none;" readonly hidden>

                        <input type="button" value="Remove Tag" id="remove-tag-btn" class="btn btn-outline-dark btn-sm rounded" style="font-size:.75rem;" onclick="RemoveTag()" hidden />
                    }


                </div>
            </div>

            <hr />

            <div class="form-group" hidden>
                <label asp-for="BlogId" class="control-label"></label>
                <input asp-for="BlogId" class="form-control" value="@Model.BlogId"/>
            </div>
            <div class="form-group">
                <input id="save-changes-btn" type="submit" value="Save Changes" class="btn btn-outline-success" disabled />
                <a class="btn btn-outline-dark float-right" asp-area="" asp-controller="Home" asp-action="Index">Cancel</a>
            </div>
        </form>
    </div>
</div>

<script>
    // Form Reset
    window.onload = function () { document.querySelector("#post-form").reset(); document.querySelector('#save-changes-btn').disabled = true; };
    // Disable the Context Menu. Undo option caused problem for the counters
    window.addEventListener("contextmenu", e => e.preventDefault());
</script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}