@model IEnumerable<BlogBravo.Models.Post>

@{
    ViewData["Title"] = "Index";

    TempData["searchpath"] = null;

}

<div class="container alert-dark border border-dark rounded" max-width="100%;">
    @if (@ViewBag.BlogName != null)
    {
        <h1>Posts of Blog <span class="bg-dark text-white">@ViewBag.BlogName</span> </h1>
    }
    else
    {
        @if (@ViewBag.UserName != null)
        {
            <h1 class="bg-dark text-white border border-dark rounded text-monospace mt-2 mb-3" style="width:fit-content;">@ViewBag.UserName Post List</h1>
        }
    }

    @if (@ViewBag.BlogId != null)
    {
        <form class="btn-group" method="post">
            <input type="submit" value="Create A New Post" class="btn btn-outline-dark text-monospace rounded py-0" asp-controller="Post" asp-action="Create" asp-route-id="@ViewBag.BlogId" />
        </form>
    }
    else
    {
        <form class="btn-group" method="post">
            @if (ViewBag.UserBlogs != null)
            {
                <select id="list-of-blogs" class="mr-3" onchange="Selection(this.selectedIndex);">
                    <option value="0" selected="selected">All Blogs</option>
                    @foreach (var blog in @ViewBag.UserBlogs)
                    {
                        <option value="@blog.Id" id="@blog.Id">@blog.Title</option>
                    }
                </select>
            }
            <input type="submit" id="blog-id-submit-btn" value="Create A New Post" class="btn btn-outline-dark text-monospace rounded py-0" asp-controller="Post" asp-action="Create" disabled />
        </form>
    }

    <hr />
    <table id="blog-posts-list" class="table table-striped text-monospace">
        <thead class="text-monospace" style="font-size:0.8rem;">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Body)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Created)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Views)
                </th>
                <th>
                    Blog Title
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null)
            {
                foreach (var item in Model)
                {
                    string bodyStringToView = new string(@item.Body.Take(100).ToArray()) + "...";
                    <tr id="@item.BlogId">
                        <td class="text-monospace" style="font-size:0.6rem;">
                            @Html.DisplayFor(modelItem => item.Title)
                        </td>
                        <td class="text-monospace" style="font-size:0.6rem;">
                            @bodyStringToView
                        </td>
                        <td class="text-monospace" style="font-size:0.6rem;">
                            @Html.DisplayFor(modelItem => item.Created)
                        </td>
                        <td class="text-monospace" style="font-size:0.6rem;">
                            @Html.DisplayFor(modelItem => item.Views)
                        </td>
                        <td colspan="5" class="text-monospace" style="font-size:0.6rem;">
                            @Html.DisplayFor(modelItem => item.Blog.Title)
                        </td>
                        <td class="text-monospace btn-group">
                            <a title="Edit post" class="btn btn-outline-primary btn-sm py-0 mr-1 rounded" asp-controller="Post" asp-action="Edit" asp-route-id="@item.Id"><i class="fas fa-edit"></i></a>
                            <a title="View Post" class="btn btn-outline-success btn-sm py-0 mr-1 rounded" asp-controller="Post" asp-action="Details" asp-route-id="@item.Id"><i class="fas fa-eye"></i></a>
                            <a title="Delete Post" class="btn btn-outline-danger btn-sm py-0 mr-1 rounded" asp-controller="Post" asp-action="Delete" asp-route-id="@item.Id"><i class="fas fa-trash-alt"></i></a>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>

@if (@ViewBag.BlogId == null)
{
    <script>
        window.onload = function () { document.querySelector("#list-of-blogs").selectedIndex = 0; Selection(0); };

        function Selection(selection) {

            if (selection != 0) {
                $("#blog-id-submit-btn").prop('disabled', false);
                var blogId = $("#list-of-blogs option:selected").val();
                $("#blog-id").val(blogId);

                //get the block id and create the path for creating a post in that blog
                var formaction = "/Post/Create/" + blogId;
                $("#blog-id-submit-btn").attr('formaction', formaction);

                // Just show the the post for the current selected blog
                $('#blog-posts-list > tbody').children('tr').each(function () {
                    var rowId = $(this).attr('id');

                    if (rowId.length > 0) {
                        if (rowId != blogId) {
                            $(this).hide();
                        }
                        else if (rowId == blogId) {
                            $(this).show();
                        }
                    }
                });
            }
            else { // List all the posts
                $("#blog-id-submit-btn").prop('disabled', true);

                $('#blog-posts-list > tbody').children('tr').each(function () {
                    var rowId = $(this).attr('id');

                    if (rowId.length > 0) {
                            $(this).show();
                    }

                });
            }
        }
    </script>
}