@model BlogBravo.Models.SearchVM

@{
    ViewData["Title"] = "Index";
}

<h1>Search Results</h1>

<div>
    <div class="container btn-group btn-group-lg" role="group">
        <button id="blogs-btn" type="button" class="btn btn-outline-dark" style="border:solid black; border-radius:0px; border-top-right-radius:20px;">Blogs</button>
        <button id="posts-btn" type="button" class="btn btn-outline-dark" style="border:solid black; border-radius:0px; border-top-right-radius:20px;">Posts</button>
        <button id="tags-btn" type="button" class="btn btn-outline-dark" style="border:solid black; border-radius:0px; border-top-right-radius:20px;">Tags</button>
    </div>
    <div class="container mt-2" id="load-partial-view"></div>
</div>

<div id="blog-view">
    @if (Model.BlogList.Count != 0)
    {
    <table class="table table-striped" >
    <thead>
            <tr>
                <th>
                    Title
                </th>
                <th>
                    Body
                </th>
                <th>
                    Created
                </th>                
                
            </tr>
        </thead>
    <tbody>
                @foreach (var item in Model.BlogList)
                {
                    <tr>
                        <td>
                            <form name="blog-view-form" method="post" asp-controller="Browse" asp-action="Views" asp-route-id ="@item.Id">
                                <input name="blogId" value="@item.Id" hidden/>
                                <button class="btn btn-info" onclick="blog-view-form.submit()">@Html.DisplayFor(modelItem => item.Title)</button>
                            </form>
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Body)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Created)
                        </td>
                        @*<td>
                            @Html.DisplayFor(modelItem => item.Author.UserName)
                        </td>*@

                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <h5 class="text-info"> Search Rendered no Matches</h5>
    }

    <div id="blog-view-page" hidden></div>
</div>


<div id="post-view" hidden>
    @if (Model.PostList.Count != 0)
    { 
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>
                        Title
                    </th>
                    <th>
                        Body
                    </th>
                    <th>
                        Created
                    </th>

                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.PostList)
                {
                    string date = item.Created.ToString("yyyy-MM-dd");

                    <tr>
                        <td>
                            <form name="post-view-form" method="get" asp-controller="Search" asp-action="ViewPost">
                                <input name="postId" value="@item.Id" hidden />
                                <button class="btn btn-info" onclick="blog-view-form.submit()">@Html.DisplayFor(modelItem => item.Title)</button>
                            </form>
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Body)
                        </td>
                        <td>
                            @date
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <h5 class="text-info"> Search Rendered no Matches</h5>
    }
</div>


<div id="tag-view" hidden>
    @if (Model.TagList.Count != 0)
    {
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>
                        Name
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.TagList)
                {
                    <tr>
                        <td>
                            <a class ="btn btn-info" href="#">@Html.DisplayFor(modelItem => item.Name)</a>
                        </td>
                        @*<td>
                                @Html.DisplayFor(modelItem => item.Created)
                            </td>*@

                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <h5 class="text-info">Search Rendered no Matches</h5>
    }
</div>


<script>
        document.querySelector("#blogs-btn").addEventListener('click', function () {
            $("#blog-view").prop("hidden", false);
            $("#post-view").prop("hidden", true);
            $("#tag-view").prop("hidden", true);
        });

    document.querySelector("#posts-btn").addEventListener('click', function () {
        $("#blog-view").prop("hidden", true);
        $("#post-view").prop("hidden", false);
        $("#tag-view").prop("hidden", true);
        });

        document.querySelector("#tags-btn").addEventListener('click', function () {
            $("#blog-view").prop("hidden", true);
            $("#post-view").prop("hidden", true);
            $("#tag-view").prop("hidden", false);
        });
</script>



<!--<table class="table">-->
    @*<thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Body)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Created)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Author)
            </th>
            <th></th>
        </tr>
    </thead>*@
    @*<tbody>
        @foreach (var item in Model.BlogList)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Body)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Created)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Author.Id)
                </td>

            </tr>
        }
    </tbody>
</table>*@


