@model IEnumerable<BlogBravo.Models.Post>

@{
    ViewData["Title"] = "View Post";
}

<h1 class="bg-dark text-white mb-3 rounded" style="width:fit-content">@ViewBag.Blog.Title</h1>


<table class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Body)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Created)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        string date = item.Created.ToString("yyyy-MM-dd");
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Body)
            </td>
            <td>
                @date
            </td>
        </tr>
}
    </tbody>
</table>
