@using BlogBravo.Data
@model BlogBravo.Data.ApplicationUser

@{
    ViewData["Title"] = "Delete User";
}

<style>
    * {
        font-family: 'Tw Cen MT';
    }
</style>

<div class="container border border-danger rounded mt-3" style=" background-color:lightgrey; padding: 20px; padding-bottom:50px;">
    <h1 class="text-danger mb-3">Do you really want to remove user <span class="display-4" style="font-weight:bold;"> @Model.FirstName @Model.LastName (@Model.Email)</span>?</h1>

    <div class="container mb-2">
        <form method="post">
            <input type="text" name="userId" value="@Model.Id" hidden />
            <input type="submit" value="Delete User @Model.FirstName @Model.LastName (@Model.Email)" class="btn btn-danger rounded float-left" asp-controller="Admin" asp-action="DeleteUser" />
        </form>
    </div>
    <a class="btn btn-dark rounded float-right" asp-area="" asp-controller="Admin" asp-action="Index">Back to the User List</a>
</div>
