@model IEnumerable<Microsoft.AspNetCore.Identity.IdentityRole>
@using BlogBravo.Data
@using Microsoft.AspNetCore.Identity


@{
    Layout = null;
}

<p>
    <a class="btn btn-outline-dark" asp-action="Create">Create A New Role</a>
</p>
<table class="table table-striped" style="font-family:'Tw Cen MT'">
    <thead>
        <tr>
            <th style="font-family:'Tw Cen MT'">
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th style="font-family:'Tw Cen MT'">
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th style="font-family:'Tw Cen MT'">
                @Html.DisplayNameFor(model => model.NormalizedName)
            </th>
            <th style="font-family:'Tw Cen MT'">
                @Html.DisplayNameFor(model => model.ConcurrencyStamp)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td style="font-family:'Tw Cen MT'">
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td style="font-family:'Tw Cen MT'">
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td style="font-family:'Tw Cen MT'">
                    @Html.DisplayFor(modelItem => item.NormalizedName)
                </td>
                <td style="font-family:'Tw Cen MT'">
                    @Html.DisplayFor(modelItem => item.ConcurrencyStamp)
                </td>
                <td style="font-family:'Tw Cen MT'">
                    <div class="btn-group">
                        <a asp-action="Edit" asp-route-id="@item.Id"><i class=" mr-1 fas fa-edit"></i></a>
                        <a asp-action="Details" asp-route-id="@item.Id"><i class="mr-1 text-success fas fa-eye"></i></a>
                        <a asp-action="Delete" asp-route-id="@item.Id"><i class="text-danger fas fa-trash-alt"></i></a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>